* {
  margin: 0;
  padding: 0;
}

body {
  background: #161616;
  height: 1000px;
}

#logo {
  position: relative;
  top: -75px; 
  left: 0px;
}

#avatar-container {
  width: 50px;
  height: 50px;
}

#avatar-img {
  position: relative;
  top: 20px;
  left: 160px;
  z-index: 1000;
  background: #FFF112;
  width: 50px; 
  height: 50px; 
  border-radius:50%;
}

.NoDecorHref {
  text-decoration-line: none;
}

a, a:link, a:visited, a:hover, a:active {
  text-decoration: none;     
  color: inherit;              
  outline: none; 
}

a {
  -webkit-tap-highlight-color: transparent;
}

#We {
  display: inline-block;  /* чтобы ссылка обтекала картинку */
}

#We:hover #logo {
  transform: scale(1.2);  /* увеличиваем картинку на 20% */
  transition: transform 0.2s ease; /* плавно */
}

